* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  height: 500px;
}

.container > form {
  display: flex;
  flex-direction: column;
  background-color: #1b2a2a;
  width: 400px;
  border-radius: 20px;
  color: white;
}

form > h2 {
  margin-bottom: 25px;
  margin: 45px auto;
}

input {
  padding: 5px;
  border-radius: 10px;

  border: 1px solid gray;
}

.form-email {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-evenly;
}

.form-password {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-evenly;
  margin-right: 15px;
}

.captcha {
  margin-left: 25px;
  margin-bottom: 10px;
}

.form-captcha {
  display: flex;
}

.form-captcha > input {
  width: 150px;
  margin-left: 30px;
}

.captcha-text {
  background-color: lightgray;
}

h6 {
  margin: 0 auto;

  margin-top: 20px;
  display: flex;
  align-items: center;
}

h6 > img {
  height: 25px;
  margin-left: 10px;
  cursor: pointer;
}

.signup-btn {
  width: 100px;
  height: 35px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin: 25px auto;
  margin-left: 150px;
  background-color: red;
  color: white;
}
